<%- include('../partials/head.ejs', {title: "Lista de Productos - El Closet de Brujua"}) %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <section class="products-container">
            <h2 class="title-products">Productos</h2>

            <article class="products-cards-container">
                <%- include('../partials/productCard.ejs') %>
            </article>

            <div class="cart-summary">
                <p>Total: <span id="total-price">$0.00</span></p>
                <button id="finalize-purchase">Finalizar Compra</button>
                <button id="clear-cart">Vaciar Carrito</button>
            </div>
        </section>
    </main>

    <%-include("../partials/footer.ejs")%>

    </body>
    
    <script>
        const btnAddCart = document.getElementById('addCart');
        const msgCart = document.getElementById('msgCart');
    
        function agregarAlCarrito() {          
            msgCart.style.display = 'block';    
            setTimeout(() => {
            msgCart.style.display = 'none';}, 1000); 
        }
        btnAddCart.addEventListener('click', agregarAlCarrito);
    </script>

</html>




