
@media (min-width:768px) {

    .title-table {
        font-size: 3em;
        font-family: 'Cookie', cursive;
        color: var(--lavander-color);
        text-align: center;
    }

    .title-table span {
        font-family: "Cedarville Cursive", serif;
        font-size: 0.8em;
        color: var(--white-color)
    }

    .productsAdmin-title,
    .productsAdd-title {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 30px;
    }

    .productsAdmin-title-plus,
    .productsAdd-title-refresh{
        display: flex;
        width: 63%;;
        align-items: center;
        justify-content: space-between;
    }

    /* Icono Agregar producto */
    .add-admin-product {
        display: flex;
        justify-content: end;
        padding-right: 20px;
    }

    .fa-plus {
        font-size: 2em;
        color: var(--white-color);
    }

    .fa-plus:hover {
        color: green;
    }


    /* Tabla */

    table.product-table th {
        background-color: var(--turquoise-color);
    }

    /* Eliminar producto */
    .fa-trash-can {
        font-size: 22px;
        color: var(--white-color);
        text-decoration: none;
    }

    .fa-trash-can:hover {
        color: rgb(252, 82, 82);
    }

    /* Editar producto */
    .fa-pen-to-square {
        font-size: 22px;
        color: var(--white-color);
        text-decoration: none;
    }

    .fa-pen-to-square:hover {
        color: #ffbb33;
    }
}