/* ---------------- MOBILE ------------*/

@media (min-width:320px) {

    .products-container {
        width: 100%;
        background-image: url(/images/fondo-products.jpg);
        background-size: cover;
        background-position: center;
    }

    .products-cards-container {
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 25px;
        max-width: 1200px;
        margin: 0 auto;
    }


}

/* ---------------- TABLET ------------ */
@media (min-width:320px) {}

/*---------------- DESKTOP ------------*/
@media (min-width:320px) {}