@media (min-width:320px) {

    #cart-section {
        height: 100vh;
    }


    .cart-undefined {
        height: 100%;
        color: var(--white-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 3em;
        font-family: "Cedarville Cursive", serif;
    }
}