
<header class="headerAdmin">

      <div class="headerAdmin-top">
            <div class="close-admin-session">
                  <a href="#"><i class="fa-solid fa-xmark"></i></a>
            </div>
      </div>

      <div class="headerAdmin-down">
            <div class="logoAdmin">
                  <img src="/images/png/logo-sin-fondo.png" alt="logo">
            </div>
      
            <div class="admin-addProduct-icons-container">                  
      
            </div>
      
            <div class="infoAdmin-nav">
                  <h3>Administrador</h3>
            
                  <nav class="navAdmin">
                        <ul>
                        <li><a href="../admin">Productos</a></li>
                        <li><a href="../users/usersAdmin">Usuarios</a></li>
                        </ul>
                  </nav>
            </div>
      </div>
      


</header>

