.modal {
   display: none;
   position: fixed;
   top: 0;
   left:0;
   right: 0;
   bottom: 0;
   background-color: #111111bd;
   z-index: 1;
   text-align: center;
}

.close-modal {
   width: 100%;
   text-align: end;
   font-size: 25px;
   color: var(--black-color);
   transition: all ease in 0.3s;
}

.close-modal:hover {
   color: var(--white-color);
}

.modal-content {
   margin: auto;
   width: 70%;
   max-width: 600px;
   max-height: 80%;
   background-color: rgba(165, 164, 164, 0.568);
   padding: 10px 30px 30px 30px;
   display: grid;
   grid-auto-columns: 100%;
   gap: 0.5em;
   place-items: center;
}

.modal-title {
   font-size: 2rem;
   font-family: "Cedarville Cursive", serif;
   color: var(--black-color);
}

.modal-subtitle {
   font-size: 1rem;
   font-weight: bold;
}

.modal-button {
   background-color:rgb(115, 13, 146);
   padding: 0.5em;
   width: 50%;
   border: 1px solid greenyellow;
   border-radius: 20px;
   display: inline-block;
   transition: all ease .3s;
}

.modal-button:hover {
   background-color: var(--violet-color);
}

.modal-button a {
   text-decoration: none;
   color: var(--white-color);
   font-size: 1rem;
}


