<%-include("./partials/head.ejs", { title: 'El Closet de Brujua - Moda que circula'} )%>

    <body>

        <%-include("./partials/header.ejs")%>

        <main>
            <!-- modal bienvenida-->
            <section class="modal" id="welcomeModal">
                <div class="modal-content">
                    <a href="#" class="close-modal" id="closeModal">x</a>
                    <h2 class="modal-title">"Puedes conseguir lo que quieras en la vida si te vistes para ello"</h2>
                
                    <h3 class="modal-subtitle">Nuevo por acá?</h3>
                    <button class="modal-button">
                        <a href="/users/register">Registrate</a>
                    </button>
                    
                    <h3 class="modal-subtitle">Ya tenés cuenta?</h3>
                    <button class="modal-button">
                        <a href="/users/login">Ingresá</a>
                    </button>                </div>
            </section>

            <!-- banner -->
            <section id="home-banner">
                <div class="adbar"><p>Envío Gratis a TODO EL PAÍS con tu compra mínima de $40.000</p></div>
                
                <div class="banner-container">
                    <img src="/images/banner.jpg" class="desktop-banner" alt="">
                    <img src="/images/banner-mobile.jpg" class="mobile-banner" alt="">
                    <h1 class="title-banner"> Moda que no termina, se transforma</h1>
                </div>
            </section>

            <!-- slider -->
            <section id="home-section-slider-desktop">
                <div class="home-slide-cont">
                    <div class="slider">
                        <div class="slider-item">Comprá</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Vendé</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Reutilizá</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Comprá</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Vendé</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Reutilizá</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Comprá</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Vendé</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Reutilizá</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Comprá</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Vendé</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Reutilizá</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Comprá</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Vendé</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Reutilizá</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Comprá</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Vendé</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                        <div class="slider-item">Reutilizá</div>
                        <div class="slider-item"><i class="fa-solid fa-angles-right"></i></div>
                    </div>
                </div>
            </section>

            <!-- productos -->
            <section id="home-section-products">
                <article class="home-carrousel-mobile">
                    <div class="carrousel-imagenes">
                        <% productosCloset.forEach(( {images} ) => { %>
                            <figure class="imagen">
                                <a href="/products">
                                    <img src="/images/productos/<%= images[0].name %>" alt="imagen">
                                </a>
                            </figure>
                        <% }) %>
                    </div>
                </article>

                <article class="home-carrousel-container-desktop"> <!-- hacer un forEach para mostrar las imgs en un carrousel -->

                    <div style="background-image: url('/images/productos/1.png');"></div>
                    <div style="background-image: url('/images/productos/2.png');"></div>
                    <div style="background-image: url('/images/productos/3.png');"></div>
                    <div style="background-image: url('/images/productos/4.png');"></div>
                    <div style="background-image: url('/images/productos/5.png');"></div>
                    <div style="background-image: url('/images/productos/6.png');"></div>
                    <div style="background-image: url('/images/productos/7.png');"></div>
                    <div style="background-image: url('/images/productos/8.png');"></div>
                    <div style="background-image: url('/images/productos/9.png');"></div>
                </article>    
            
            </section>

            <!-- ofertas -->
            <section id="home-section-ofertas">

                <div class="ofertas-container">
                    <h1 class="title-ofertas">
                        <span class="cursive">Sale</span><br>
                        <span class="cinzel">TEMPORADA DE</span><br>
                        <span class="cursive-desktop">Ofertas</span>
                        <span class="cursive">Ofertas</span>
                    </h1>
                </div>

                <a href="#"><button class="ofertas-btn">COMPRAR AHORA</button></a>
            </section>

            <!-- ingresos -->
            <section id="home-section-ingresos">
                <img src="/images/arrow1.png" class="arrows1" alt=""> 
                <div class="ingresos-container">
                    <h1 class="title-ingresos">Nuevos<br>Ingresos</h1>
                    <h1 class="title-ingresos-desktop">Nuevos Ingresos</h1>
                </div>
                <a href="#"><button class="ingresos-btn">VER MÁS</button></a>
            </section>

        </main>

        <%-include("./partials/footer.ejs")%>

        
        <script>

            let index = 0;
            const intervalo = 8000;
            const imagenes = document.querySelectorAll('.imagen');
            const carrousel = document.querySelector('.carrousel-imagenes');

            function mostrarImagen() {
            if (index >= imagenes.length / 2.5) {
                index = 0;
            }
            carrousel.style.transform = `translateX(-${index * 100}%)`;
            index++;
            }
            setInterval(mostrarImagen, intervalo);

            
        //Modal de Bienvenida

        window.addEventListener('DOMContentLoaded', () => {
            if(window.matchMedia('(min-width: 1024px)'). matches) {
                const modal = document.getElementById('welcomeModal');
                modal.style.display = 'flex';
            }
        });

        // Cerrar el modal al hacer clic en la "X"
        document.getElementById('closeModal').addEventListener('click', (e) => {
            e.preventDefault();
            document.getElementById('welcomeModal').style.display = 'none';
        });

        </script>
    </body>
</html>


