<%-include("./partials/head.ejs")%> 

<body id="body-table">

    <h1 class="title-table"><span>El Closet de Brujua</span><br>Gestión de Productos</h1>

    <table class="product-table">
        <thead>
            <tr>
                <th>Seleccionar</th>
                <th>Nombre Producto</th>
                <th>Descripcion</th>
                <th>Categoría</th>
                <th>Talle</th>
                <th>Precio</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" class="product-checkbox"></td>
                <td>Producto</td>
                <td>Descripcion</td>
                <td>$10.00</td>
                <td>XXL</td>
                <td>$<span class="total-price">10.00</span></td>
                <td><a href=""><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="product-checkbox"></td>
                <td>Producto</td>
                <td>Descripcion</td>
                <td>$15.00</td>
                <td>XXL</td>
                <td>$<span class="total-price">15.00</span></td>
                <td><a href=""><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="product-checkbox"></td>
                <td>Producto </td>
                <td>Descripcion</td>
                <td>$20.00</td>
                <td>XXL</td>
                <td>$<span class="total-price">20.00</span></td>
                <td><a href=""><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="product-checkbox"></td>
                <td>Producto</td>
                <td>Descripcion</td>
                <td>$20.00</td>
                <td>XXL</td>
                <td>$<span class="total-price">20.00</span></td>
                <td><a href=""><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="product-checkbox"></td>
                <td>Producto</td>
                <td>Descripcion</td>
                <td>$20.00</td>
                <td>S</td>
                <td>$<span class="total-price">20.00</span></td>
                <td><a href=""><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="product-checkbox"></td>
                <td>Producto C</td>
                <td>Descripcion</td>
                <td>$20.00</td>
                <td>S</td>
                <td>$<span class="total-price">20.00</span></td>
                <td><a href=""><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="product-checkbox"></td>
                <td>Producto C</td>
                <td>Descripcion</td>
                <td>$20.00</td>
                <td>L</td>
                <td>$<span class="total-price">20.00</span></td>
                <td><a href=""><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="product-checkbox"></td>
                <td>Producto</td>
                <td>Descripcion</td>
                <td>$20.00</td>
                <td>L</td>
                <td>$<span class="total-price">20.00</span></td>
                <td><a href=""><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="product-checkbox"></td>
                <td>Producto C</td>
                <td>Descripcion</td>
                <td>$20.00</td>
                <td>L</td>
                <td>$<span class="total-price">20.00</span></td>
                <td><a href=""><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="product-checkbox"></td>
                <td>Producto C</td>
                <td>Descripcion</td>
                <td>$20.00</td>
                <td>M</td>
                <td>$<span class="total-price">20.00</span></td>
                <td><a href=""><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="product-checkbox"></td>
                <td>Producto C</td>
                <td>Descripcion</td>
                <td>$20.00</td>
                <td>M</td>
                <td>$<span class="total-price">20.00</span></td>
                <td><a href=""><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="product-checkbox"></td>
                <td>Producto C</td>
                <td>Descripcion</td>
                <td>$20.00</td>
                <td>XL</td>
                <td>$<span class="total-price">20.00</span></td>
                <td><a href=""><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
        </tbody>
    </table>

</body>

</html>