<%-include("./partials/head.ejs")%>

    <body>

        <%-include("./partials/header.ejs")%>

        <main>
            <section id="home-banner">
                <div class="adbar"><p>Envío Gratis a TODO EL PAÍS con tu compra mínima de $40.000</p></div>
                
                <div class="banner-container">
                    <img src="/images/banner.jpg" class="desktop-banner" alt="">
                    <img src="/images/banner-mobile.jpg" class="mobile-banner" alt="">
                    <h1 class="title-banner">comprá . vendé . reutilizá </h1>
                </div>

            </section>

            <section id="home-section-ofertas">

                <div class="ofertas-container">
                    <h1 class="title-ofertas">
                        <span class="cursive">Sale</span><br>
                        <span class="cinzel">TEMPORADA DE</span><br>
                        <span class="cursive-desktop">Ofertas</span>
                        <span class="cursive">Ofertas</span>
                    </h1>
                </div>

                <a href="/products/productList"><button class="ofertas-btn">COMPRAR AHORA</button></a>
            </section>

            <section id="home-section-ingresos">
                <img src="/images/arrow1.png" class="arrows1" alt=""> 
                <div class="ingresos-container">
                    <h1 class="title-ingresos">Nuevos<br>Ingresos</h1>
                    <h1 class="title-ingresos-desktop">Nuevos Ingresos</h1>
                </div>
                <a href="#"><button class="ingresos-btn">VER MÁS</button></a>
            </section>

        </main>

        <%-include("./partials/footer.ejs")%>

    </body>
    </html>


