
   <div class="detail-btn-cart-container">
      <p id="msgCart" class="add-cart-msg">Se agregó al carrito</p>
      <button class="add-cart" id="addCart">
         <i class="fa-solid fa-cart-shopping"></i> Agregar
      </button>
   </div>