
<footer>
        <section class="footer-section-1">

            <div class="footer-column-1">
                <h3>Preguntas Frecuentes</h3>

                <div id="faq-content" class="faq-content">
                    <a href="/faq"><p>¿Cómo son las formas de pago?</p></a>
                    <a href="/faq"><p>¿Cómo son los medios de envío?</p></a>
                    <a href="/faq"><p>¿Cómo funcionan los cambios?</p></a>
                </div>

                <div class="footer-repentance">
                    <a href="/reclamo">
                    <button class="footer-btn">Botón de Arrepentimiento</button>
                    </a>
                </div>
            </div>

            <div class="footer-column-2">
                <a href="/about">
                    <h3 class="h3-div2">Nosotros</h3>
                </a>
                <a href="#">
                    <h3 class="h3-div2">¿Querés vender tu ropa?</h3>
                </a>
                <a href="#"><span>Términos y Condiciones</span></a>
                <a href="#"><span>Políticas de Privacidad</span></a>
                <a href="#"><span>Configuración de Cookies</span></a>
                <div class="footer-contact-us">
                    <p><span class="span-cursive">¿ Te quedán más dudas ?</span></p>
                    <button class="footer-btn">Contáctanos</button>
                </div>

            </div>

            <div class="footer-column-3">
                <h3>Seguinos:</h3>
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                </div>
                <p class="footer-phrase">"Puedes conseguir lo que quieras en la vida si te vistes para ello"</p>
            </div>

        </section>
        
        <section class="footer-section-2">

            <div class="footer-logo">
                <a href="/">
                    <div class="logo">
                        <img src="/images/png/logo-sin-fondo.png" alt="logo">
                    </div>
                </a> 
            </div>

            <div class="footer-copy">
                <p>&copy; 2025 El Closet de Bruja. Todos los derechos reservados.</p>
            </div>

            <div class="footer-png">
                <div class="icon-set">
                    <a href="https://www.correoargentino.com.ar/seguimiento-de-envios"><img src="/images/png/correo.png" alt=""></a>
                    <a href="https://www.oca.com.ar/Seguimiento/BuscarEnvio/paquetes"><img src="/images/png/oca.png" alt=""></a>
                    <a href="https://www.mercadopago.com.ar/"><img src="/images/png/MP.png" alt=""></a>
                </div>
            </div>
        </section>
</footer>