
    <header>
        <div class ="header-top">
            <div class="header-top-div">
                <div class="mobile-menu-container">
                    <div class="menu-h-icon" id="menuHambIcon">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    
                    <nav class="mobile-menu-hamburgesa" id="mobileMenuHamb">
                        <ul>
                            <li><a href="/products">Productos</a></li>
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">¿Qué es la Moda Circular?</a></li>
                            <li><a href="#">Promos</a><span><i class="fa-solid fa-bolt"></i></span></li>
                            <li><a href="#">Teens</a><span>Muy pronto!</span></li>
                            <div class="menu-hamnburguesa-user">
                                <li><a href="/users/register">Registrate</a></li>
                                <li><a href="/users/login">Ingresá</a></li>
                            </div>
                            <div class="menu-hamnburguesa-user-logo">
                                <a href="/">
                                    <div class="logo">
                                        <img src="/images/png/logo-sin-fondo.png" alt="logo">
                                    </div>
                                </a>        
                            </div>

                        </ul>
                    </nav>
                </div>

                <div class="header-middle-div">
                    <a href="/">
                        <div class="logo">
                            <img src="/images/png/logo-sin-fondo.png" alt="logo">
                        </div>
                    </a>
                </div>    
    
                <form action="#" method="get" class="search-form">
                    <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                    <input type="text" name="search" placeholder="  Buscar...">
                </form>
    
                <div class="header-icons-container">
                    <div class="user-dropdown-menu" id="userDropDMenu">
                        <div class="user-icon" id="userIcon">
                            <a href="#"><i class="fa-regular fa-user"></i></a>
                        </div>
    
                        <div class="dropdown-content">
                            <a href="/users/register">Registro</a>
                            <a href="/users/login">Ingresá</a>
                            <a href="/users/profile">Mis compras</a>
                        </div>
                    </div>
    
                    <div class="shop-icon" id="shopIcon">
                        <a href="#"><i class="fa-solid fa-bag-shopping"><span id="carritoCount">0</span></i></a>
                    </div>
                </div>
            </div>
    
        </div>

        <div class="header-down">
            <nav class="desktop-nav-container" id="desktopNav">
                <ul>
                    <li><a href="/products">Productos</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">¿Qué es la Moda Cirdular?</a></li>
                    <li><a href="#">Promos</a><i class="fa-solid fa-bolt"></i></li>
                    <li><a href="#">Teens</a><span>Muy pronto!</span></li>
                    <div class="menu-hamnburguesa-user">
                        <li><a href="/users/register">Registrate</a></li>
                        <li><a href="/users/login">Ingresá</a></li>
                    </div>
                </ul>
            </nav>
        </div>


        <script>
            // header mobile- menu
            document.getElementById('menuHambIcon').addEventListener('click', function() {
                // Alterna la clase "open" en el icono y el menú
                this.classList.toggle('open');
                document.getElementById('mobileMenuHamb').classList.toggle('open');
            });

            // header mobile- user
            document.querySelector('.user-icon').addEventListener('click', function(event) {
                event.stopPropagation(); // Evitar que el clic cierre el menú al hacer clic en otro lado
                const dropdownContent = document.querySelector('.dropdown-content');
                dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
            });
            // Cerrar el menú si se hace clic fuera
            document.addEventListener('click', function(event) {
                const dropdownContent = document.querySelector('.dropdown-content');
                if (!event.target.closest('.dropdown')) {
                    dropdownContent.style.display = 'none'; 
                }
            });

            //alert
        </script>
    </header> 

