
<header class="headerAdmin">

      <div class="headerAdmin-top">
            <div class="logoAdmin">
                  <a href="/admin">
                        <img src="/images/png/logo-sin-fondo.png" alt="logo">
                  </a>
            </div>
            <h1 class="admin-title"> ¡Bienvenido Administrador!👋</h1>

      </div>
            

      <div class="headerAdmin-nav">
                  <nav class="navAdmin">
                        <ul>
                        <li><a href="/admin/products">Productos</a></li>
                        <li><a href="/admin/users">Usuarios</a></li>
                        <li><a href="#">Cerrar Sesión</a></li>
                        </ul>
                  </nav>
      </div>
</header>

