
<header class="headerAdmin">

      <div class="headerAdmin-top">
            <div class="close-admin-session">
                  <a href="#"><i class="fa-solid fa-xmark"></i></a>
            </div>
      </div>

      <div class="headerAdmin-down">
            <div class="logoAdmin">
                  <a href="/admin">
                        <img src="/images/png/logo-sin-fondo.png" alt="logo">
                  </a>
            </div>
            
            <h1 class="admin-title">👋 ¡Bienvenido Administrador!</h1>

            <div class="infoAdmin-nav">
            
                  <nav class="navAdmin">
                        <ul>
                        <li><a href="/admin/products">Productos</a></li>
                        <li><a href="/admin/users">Usuarios</a></li>
                        </ul>
                  </nav>
            </div>
      </div>
      


</header>

