<%-include("../partials/head.ejs", { title: 'Sobre Nosotros' })%>

<body>

   <%-include("../partials/header.ejs")%>

   <main>

      <h1 class="about-content">SOBRE NOSOTROS</h1>
      <p class="about-content">Somos una marca argentina de moda circular que compra y vende ropa nueva y usada. Buscamos asegurarnos que el ciclo de vida de cada prenda empiece, termine y vuelva a empezar. Tenemos un propósito claro y vamos hacia él: recircular toda la ropa del mundo.</p>

   </main>

   <%-include("../partials/footer.ejs")%>

</body>
</html>