<%-include("../partials/head.ejs", { title: 'Preguntas Frecuentes' })%>

<body>

    <%-include("../partials/header.ejs")%>

  <main id="faq-container">
    <img src="/images/faqBanner.png" alt="faq-banner" class="faq-banner">

    <section class="faq-formas-de-pago">
        <button class="section-accordion-btn">
          ¿Cuáles son las formas de pago?
          <span class="arrow">&#9660;</span>
        </button>

        <article class="section-accordion-content">
          <div>
            <p>Ofrecemos diversas opciones para realizar tus pagos de forma segura:</p>
            <ul>
              <li><i class="fa-solid fa-credit-card"></i>Tarjetas de crédito/débito (Visa, Mastercard)</li>
              <li><i class="fa-solid fa-credit-card"></i>Mercado Pago</li>
              <li><i class="fa-solid fa-credit-card"></i>Transf. bancaria</li>
            </ul>
            <p>Contra reembolso (solo en algunas zonas)</p>
          </div>

        <img src="/images/png/insertimagehere.png" class="faq-image" alt="faq-image">
        </article>
    </section>

    <section class="medios-de-envio">
      <button class="section-accordion-btn">
        ¿Cómo son los medios de envío?
        <span class="arrow">&#9660;</span>
      </button>

      <article class="section-accordion-content">
        <div>
          <p>Los métodos de envío disponibles son:</p>
          <ul>
            <li><i class="fa-solid fa-truck"></i>Envío estándar por Correo Argentino (3-5 días hábiles)</li>
            <li><i class="fa-solid fa-truck"></i>Envío expréss (24-48 horas), moto mensajería</li>
            <li><i class="fa-solid fa-truck"></i>Puntos de encuentro (sin costo adicional)</li>
          </ul>
          <p>Consultá el costo de envío por tu zona</p>
        </div>

        <img src="/images/png/insertimagehere.png" class="faq-image" alt="faq-image">
      </article>
    </section>

    <section class="cambios">
      <button class="section-accordion-btn">
        ¿Cómo funcionan los cambios?
        <span class="arrow">&#9660;</span>
      </button>

      <article class="section-accordion-content">
        <div>
          <p>Si no estás satisfechx con tu compra, tenés los primeros 7 días desde la recepción<br> del pedido. Solo tenés que:</p>
          <ul>
            <li><i class="fa-solid fa-arrows-rotate"></i>Contactarte vía Whatsapp</li>
            <li><i class="fa-solid fa-arrows-rotate"></i>Presentar tu comprobante de pago</li>
            <li><i class="fa-solid fa-arrows-rotate"></i>Reenviar el producto (medio a coordinar)</li>
            <li><i class="fa-solid fa-arrows-rotate"></i>
              O podés llenar el éste <a href="/reclamo">FORMULARIO</a> </li>

          </ul>
        </div>

      <img src="/images/png/insertimagehere.png" class="faq-image" alt="faq-image">
      </article>
    </section>
  </main>

    <%-include("../partials/footer.ejs")%>

    <script>

    document.querySelectorAll('.section-accordion-btn').forEach(button => {
      button.addEventListener('click', () => {
          button.classList.toggle('active');
          const content = button.nextElementSibling;
          content.style.display = content.style.display === 'block' ? 'none' : 'block';
      });
    });

    </script>
</body>
</html>
