<%- include('../partials/head.ejs', {title: "Lista de Productos - El Closet de Brujua"}) %>

<body>
   <%- include('../partials/header.ejs') %>

   <main>
      <h1>MIS COMPRAS</h1>

   </main>
</body>