/* ---------------- MOBILE ------------*/
@media (min-width: 320px) {
    #section-register {
        background: url('/images/fondo-registro-mobile.jpg') no-repeat;
        background-size: cover;
        color: var(--white-color);
        font-size: 18px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 1em;
    }
    
    .register-form-container {
        border-radius: 0.5em;
        background-color: rgba(165, 164, 164, 0.4);
        backdrop-filter: blur(2px);
        height: 530px;
        width: 90vw;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .register-title {
        font-size: 3em;
        font-family: cookie;
        text-align: center;
        color: var(--black-color);
    }
    
    .register-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    
    /* input*/
    .input-container {
        width: 97%;
        height: 2.2em;
        position: relative;
    }

    .register-label-text {
		text-align: center;
		padding-bottom: 8px;
		padding-top: 8px;
	}
    
    .form-input {
        position: absolute;
        height: 100%;
        font-family:"Roboto Condensed", serif;
        width: 100%;
        padding-left: 1em;
        background-color: #121212;
		border: 2px solid var(--turquoise-color);
        outline: none;
        border-radius: 0.5em;
        color: var(--white-color);
    }
    
    .form-input:hover {
        border: 2px solid rgba(255,255,255,0.5);
    }
    
    .form-input:focus {
        border: 2px solid var(--violet-color);
    }
    
    .register-label-input {
        color: var(--white-color);
        cursor: text;
    }
    
    .register-btn-container {
        width: 80%;
        border-radius: 1;
        display: flex;
        justify-content: space-around;
    }
    
    .register-btn-container button {
        font-family: "Roboto Condensed", serif; 
        font-weight: bold;
        background-color: var(--turquoise-color);
        border: 2px solid #6ef801;
        color: var(--white-color);
        height: 40px;
        width: 70px;
        border-radius: 20px;
        text-align: center;
    }

    .register-btn-container button:hover {
        background-color: var(--violet-color);
    }

    .register-a-login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .register-a-login-container p {
        color: var(--black-color);
    }

    .register-a-login-container a{
        font-family: "Roboto Condensed", serif;
        font-weight: bold;
        font-size: 20px;
        color: var(--black-color);
    }

    .register-a-login-container a:hover {
        color: var(--white-color) ;
    }
}

/* ---------------- TABLET ------------*/ 
@media (min-width: 768px) {
    .input-container {
        width: 75%;
        position: relative;
    }
    
}

/* ---------------- DESKTOP ------------*/
@media (min-width: 1024px) {

    #section-register {
        background: url('/images/fondo-registro-desktop.jpg') no-repeat;
        background-size: cover;
        width: 100%;
    }
    .register-form-container {
        backdrop-filter: blur(1px);
        width: 75vw;
    }

    .register-btn-container{
        width: 50%;
    }
    .register-btn-container button {
        height: 40px;
    }
}

