@media (min-width:768px) {

table.user-table th {
   background-color: var(--violet-color);
}

.validado {
   font-weight: bold;
   color: green;
}

.validado.no {
   color: red;
}

.bloquear {
   padding: 5px 10px;
   background-color: #e67e22;
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 5px;
}

.bloquear:hover {
   background-color: rgb(163, 8, 8);

}

.acciones {
   padding: 5px 10px;
   background-color: #3498db;
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   margin-right: 5px;
}

.acciones:hover {
   background-color: #2980b9;
}

.acciones:last-child {
   margin-right: 0;
}


}
