
.headerAdmin {
   display: flex;
   flex-direction: column;
   background-color: var(--grey-color);
}

.headerAdmin-top {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   padding: 0px 30px;
}

.logoAdmin img {
   height: 100px;
}

.admin-title {
   color: white;
   font-size: 2rem;
   text-align: center;
   align-content: center;
   font-family: "Cedarville Cursive", serif;
}

.headerAdmin-nav {
   font-size: 16px;
   font-weight: bold;
   width: 100%;
   display: flex;
   justify-content: end;
   padding-right: 3rem;
}

.navAdmin ul {
   display: flex;
   flex-direction: row;
   gap: 50px;
}

.navAdmin ul li a {
   text-decoration: none;
   color: var(--turquoise-color);
   font-weight: bold;
   font-size: 1.3em;
   font-family: "Roboto Condensed", serif;
}

.navAdmin ul li a:hover {
   color: #ffbb33;
}

