/*
.faq-container {
   padding: 2rem;
}

.faq-container section {
   margin-bottom: 2rem;
}

.faq-container section h2 {
   color: #333;
   margin-bottom: 0.5rem;
}

.faq-container section ul {
   list-style: square;
   margin-left: 20px;
}

.faq-container section ol {
   margin-left: 20px;
}

*/