<%-include("../partials/head.ejs")%>

<body>
    <%-include('../partials/header.ejs')%>

    <main>
        <section id="section-register">
            <article class ="register-form-container">
                <h2 class="register-title">Registrarse</h2>

                <form action="" method="POST" class="register-form" id="registerForm">

                    <label>
                        <span class="label-text">Nombre</span>
                        <input type="text" name="firstName" class="register-label-input" id="name" autocomplete="off">
                        <p id="register-error-msg" class="error-msg"></p>
                    </label>

                    <label>
                        <span class="label-text">Apellido</span>
                        <input type="text" name="lastName" class="register-label-input" id="surname" autocomplete="off">
                        <p id="register-error-msg" class="error-msg"></p>
                    </label>

                    <label>
                        <span class="label-text">Email</span>
                        <input type="email" name="email" class="register-label-input" id="email" autocomplete="off">
                        <p id="register-error-msg" class="error-msg"></p>
                    </label>

                    <label>
                        <span class="label-text">Contraseña</span>
                        <input type="password" name="password" class="register-label-input" id="password" autocomplete="off">
                        <p id="register-error-msg" class="error-msg"></p>
                    </label>

                    <label>
                        <span class="label-text">Confirmar contraseña</span>
                        <input type="password" name="confirmPassword" class="register-label-input" id="confirmPassword" autocomplete="off">
                        <p id="register-error-msg" class="error-msg"></p>
                    </label>

                    <label class="register-checkbox">
                        <input type="checkbox" class="checkbox-input" name="newsletter">
                        <span>He leído y acepto Términos y Condiciones</span>
                    </label>
                    
                    <div class="register-btn-container">
                        <button type="submit" onclick="submitForm()">Enviar</button>
                        <button type="reset">Borrar</button>
                    </div>

                    <div class="register-a-login-container">
                        <p>¿Ya tenés cuenta?</p>
                        <a href="/users/login">Iniciar sesión</a>
                    </div>
                    
        
                </form>
            </article>
        </section>
    </main>

    <%-include("../partials/footer.ejs")%>


    <script>

        /*

    // Captura los elementos
    const form = document.getElementById('registerForm');
    const email = document.getElementById('email');
    const regexEmail = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    const nombre = document.getElementById('firstName');
    const regexNombre = /^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$/;
    const apellido = document.getElementById('lastName');
    const password = document.getElementById('password');
    const confirmPassword = document.getElementById('confirmPassword');



    // Agrega y remueve el mensaje de error
    function addError (element, message) {
        //const p = document.getElementById('register-error-msg');
        const p = element.parentNode.lastChild.previousSibling;
        p.textContent = message;
        p.style.display = 'block';
        p.classList.add('error-msg');
    }

    function removeError (element) {
        //const p = document.getElementById('register-error-msg');
        const p = element.parentNode.lastChild.previousSibling;
        p.textContent = '';
        p.style.display = 'none';
        p.classList.remove('error-msg');
    }

    function toogleError(element) {
        //const p = document.getElementById('register-error-msg');
        const p = element.parentNode.lastChild.previousSibling;
        p.classList.toggle('error-msg');
    }


    // Confirma contraseña
    function comparePassword(password, confirmPassword) {
        return password === confirmPassword;
    }


    // Validación de campos
    nombre.addEventListener('change', function() {

        if (this.value.length < 6 || this.value.length > 40) {
            console.log('No posee la cantidad de caracteres necesarios');
            addError(nombre, 'El campo debe contener entre 6 y 40 caracteres.');
        } else {
            removeError(nombre);
        }

        if (!regexNombre.test(this.value)) {
            addError(nombre, 'No ppuede contener caracteres especiales.');
            console.log('Nombre inválido');
        } else {
            console.log('Nombre válido');
            removeError(nombre);
        }

        if (this.value.length === 0) {
            addError(nombre, 'El campo no puede quedar vacío.');
        } else {
            removeError(nombre);
        }
    });

    apellido.addEventListener('change', function() {

        if (this.value.length < 6 || this.value.length > 40) {
            console.log('No posee la cantidad de caracteres necesarios');
            addError(apellido, 'El campo debe contener entre 6 y 40 caracteres.');
        } else {
            removeError(apellido);
        }

        if (this.value.length === 0) {
            addError(apellido, 'El campo no puede quedar vacío.');
        } else {
            removeError(apellido);
        }
    });


    email.addEventListener('change', function() {
        if (!regexEmail.test(this.value)) {
            addError(email, 'Ingrese un email válido.');
            console.log('Email inválido');
        } else {
            console.log('Email válido');
            removeError(email);
        }

        if (this.value.length === 0) {
            addError(email, 'El campo no puede estar vacío.');
        } else {
            removeError(email);
        }
    });


    password.addEventListener('change', function() {
        if (this.value.length < 6 || this.value.length > 20) {
        console.log('No posee la cantidad de caracteres necesarios');
        addError(password, 'Escriba una contraseña de entre 6 y 20 caracteres.');
        } else {
        removeError(password);
        }

        if (this.value.length === 0) {
        addError(password, 'Debe ingresar una contraseña.');
        } else {
        removeError(password);
        }
    });

    confirmPassword.addEventListener('change', function() {

        if (this.value.length === 0) {
            addError(confirmPassword, 'Confirme su contraseña.');
        } else {
            removeError(confirmPassword);
        }

        if(!comparePassword(password.value, confirmPassword.value)) {
            addError(confirmPassword, 'Las contraseñas no coinciden.');
        } else {
            removeError(confirmPassword);
        }
    });


    // Submit
    function submitForm() {
        event.preventDefault();
        console.log('Formulario enviado con éxito');
        //alert('Formulario enviado con éxito');
        form.submit();
    }
    

    //intento de forEach
    /*
    function validarFormulario() {
        const inputsText = document.querySelectorAll('input[type="text"]');
        let isValid = true;

        inputsText.forEach(input => {
            if (input.value.length =='') {
                addError(inputsText, 'El campo no puede quedar vacío.');
                isValid = false;
            } else if (input.value.length < 6 && input.value.length > 40) {
                addError(inputsText, 'El campo debe contener entre 6 y 40 caracteres.');
                isValid = false;
            } else {
                removeError(inputsText);
            }
        });
    }
    */
    </script>

</body>
